### Sabina Psarska

### Labolatorium 2

#### 18.10.2021 godzina 13:30-15:00

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("C:/Users/user/Desktop/BD/Lab2/Orginal Data/billboard.csv") # wczytanie danych
df = pd.DataFrame(data)

df

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df_new = df.melt(id_vars=["year","artist.inverted", "track", "time", "genre", "date.entered", "date.peaked"], 
        var_name="week", 
        value_name="no.")

# zamiana kolumn tygodni w jedną kolumnę oraz określenie pozycji w drugiej

df_new

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,no.
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0
...,...,...,...,...,...,...,...,...,...
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [3]:
print(np.unique(df_new[['year']].values)) # wszytkie piosenki w 2000 roku, dlatego usuwam daną wartość
print(np.unique(df_new[['genre']].values))

[2000]
['Country' 'Electronica' 'Gospel' 'Jazz' 'Latin' 'Pop' 'R&B' 'Rap'
 'Reggae' 'Rock']

In [4]:
df_new_2 = df_new.dropna(subset=['no.']) # usunięcie wartości NaN w no.

df_new_2

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,no.
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0
...,...,...,...,...,...,...,...,...,...
19663,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x63rd.week,45.0
19700,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x63rd.week,50.0
19980,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,x64th.week,50.0
20017,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x64th.week,50.0
20334,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,x65th.week,49.0

In [5]:
df_new_3 = df_new_2.sort_values(by=['track', 'artist.inverted']) # sortowanie
df_new_4 = df_new_3.drop(columns=['year']) # usuniecie tych samych danych
df_new_5 = (df_new_4.reset_index()).drop(columns=['index']) # nowe indeksy


df_new_5

,artist.inverted,track,time,genre,date.entered,date.peaked,week,no.
0,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x1st.week,100.0
1,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x2nd.week,99.0
2,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x3rd.week,96.0
3,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x4th.week,76.0
4,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x5th.week,55.0
...,...,...,...,...,...,...,...,...
5302,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x11th.week,63.0
5303,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x12th.week,67.0
5304,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x13th.week,77.0
5305,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x14th.week,89.0
5306,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x15th.week,99.0

In [6]:
df_new_5.to_csv("C:/Users/user/Desktop/BD/Lab2/Analysis Data/billboard_new.csv") # zapis nowego pliku